<main>
    <h1 class="text-center">Hello World</h1>
    <h2 class="text-end">Hello World</h2>
    <h3>Hello World</h3>

    <hr>
    
    <div class="display-1">Hello World</div>
    <div>Hello World</div>
    <div>Hello World</div>

    <hr>

    <span class="text-muted">ASDFASF</span>

    <hr>

    <button class="btn btn-primary">Test button</button>

    <hr>

    <p class="text-primary">My text</p>
    
    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>