<main class="px-5">
    <div class="col-12 mb-5">
        <h3 class="mt-5 mb-3">
            Список сторiнок
        </h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate sed voluptas perspiciatis velit sunt!</p>
        <div class="row">
            <div class="col-12 list-group mt-4">
                <ul class="nav">
                    <li class="nav-item my-2 me-4">
                        <a href="/summary" class="btn btn-primary">My Summary</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/skills" class="btn btn-primary">My Skills</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/education" class="btn btn-primary">My Education</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/work" class="btn btn-primary">My Work</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/bio" class="btn btn-primary">Bio </a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/car" class="btn btn-primary">Car</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/js" class="btn btn-primary">JS</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/person" class="btn btn-primary">Person</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/program" class="btn btn-primary">Program</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/shopcart" class="btn btn-primary">Shop Cart</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/shophome" class="btn btn-primary">Shop Home</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/shoporder" class="btn btn-primary">Shop Order</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/shopreview" class="btn btn-primary">Shop Review</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/task21" class="btn btn-primary">Task 21</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/task22" class="btn btn-primary">Task 22</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/task31" class="btn btn-primary">Task 31</a>
                    </li>
                    <li class="nav-item my-2 me-4">
                        <a href="/web" class="btn btn-primary">Web</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>